@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../../assets/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../../assets/fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../../assets/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../../assets/fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../../assets/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../../assets/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium), url("../../assets/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../../assets/fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold), url("../../assets/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../../assets/fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

.btn {
  width: 280px;
  font-family: Roboto;
  font-weight: 900;
}

.a-btn {
  line-height: 44px;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out;
}

.btn-large {
  line-height: 54px;
  height: 54px;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #1974ce;
  box-shadow: none;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;

  &:hover {
    background-color: #1974ce;
    box-shadow: 0px 0px 11px 0px rgba(26,117,207,1), 0px 0px 6px 0px rgba(26,117,207,1);
  }
}

@media (min-width: 900px) {
  .btn, .btn-large {
    font-size: 12px;
  }

  .btn-large {
    line-height: 54px;
    height: 70px;
  }
}

.orders__item {
  background-color: white;
  padding: 20px 15px;
  border: 1px solid #ededed;
  box-shadow: 2px 4px 8px 1px #ededed;
  margin-top: 30px;
  position: relative;
  list-style: none;
  font-family: Roboto;

  &:first-child {
    margin-top: 0;
  }

  &__plan {
    width: calc(100% - 160px);
    display: inline-block;
    position: relative;
    float: left;
    vertical-align: top;
    top: 7px;

    &__icon {
      display: block;
      margin: 0 auto 5px;
      width: 60px;
    }

    &__title {
      font-size: 18px;
      line-height: 22px;
      font-weight: 900;
      color: #1974CE;
      display: inline-block;
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  &__actions {
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 140px;

    &__proposal, &__cancel-plan {
      margin-bottom: 10px;

      & > button {
        padding: 0;
        width: 100%;
        height: 43px;
        border-radius: 4px;

        & > span {
          font-size: 12px;
          font-weight: 900;
        }
      }
      
      & > .a-btn {
        padding: 3px 0;
        width: 100%;
        height: auto;
        border-radius: 4px;

        & > span {
          font-size: 12px;
          font-weight: 900;
        }
      }
    }

    &__cancel-plan {
      margin-bottom: 0;

      & > button {
        text-indent: 15px;

        &:before {
          content: "";
          position: absolute;
          left: 15px;
          background-image: url(../../assets/images/cancel-contract.svg);
          background-repeat: no-repeat;
          background-size: 12px;
          width: 12px;
          height: 14px;
          top: 50%;
          transform: translateY(-50%);
          background-position: center;
        }
      }
    }
  }

  &__life-main, &__dependents {
    &__title {
      font-size: 14px;
      display: inline-block;
      width: 100%;
      color: #DA4980;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  &__life-main {
    display: inline-block;
    margin: 25px 0 20px;
    width: 100%;

    &__name {
      font-size: 14px;
      color: #8E8E8B;
      font-weight: 300;
    }
  }

  &__dependents {
    display: inline-block;
    width: 100%;

    &__items {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 0;

      &__item {
        font-size: 14px;
        color: #8E8E8B;
        font-weight: 300;
        margin-top: 7px;
        list-style: none;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &__canceled-text {
    position: absolute;
    right: 15px;
    top: 53px;
    color: #DA4980;
    font-weight: 700;
    font-size: 14px;
  }

  &.disabled {
    opacity: .6;

    & .orders__item__life-main, & .orders__item__dependents {
      &__title {
        color: #8E8E8B;
      }
    }
  }

  @media (min-width: 900px) {
    padding: 50px 40px;
    border-radius: 8px;
    min-width: 614px;
    box-sizing: border-box;

    &__plan {
      width: 135px;
      margin-right: 30px;
      top: 0;
      min-height: 111px;

      &__icon {
        width: 90px;
      }

      &__title {
        font-size: 20px;
        line-height: 26px;
      }
    }

    &__life-main, &__dependents {
      &__title {
        font-size: 16px;
      }
    }

    &__life-main {
      margin: 0 0 30px;
      width: calc(100% - 170px);

      &__name {
        font-weight: 400;
        font-size: 15px;
      }
    }

    &__dependents {
      width: calc(100% - 170px);

      &__items {
        &__item {
          font-weight: 400;
          font-size: 15px;
        }
      }
    }

    &__actions {
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      width: 170px;

      &__proposal, &__cancel-plan {
        & > button {
          height: 50px;

          & > span {
            font-size: 14px;
          }
        }
      }

      &__cancel-plan {
        & > button {
          text-indent: 17px;

          &:before {
            left: 20px;
            background-size: 15px;
            width: 15px;
            height: 16px;
          }
        }
      }
    }

    &__canceled-text {
      font-size: 16px;
      top: 50%;
      transform: translateY(-50%);
      right: 40px;
    }
  }
}